<div class="container" ng-controller="FoodController as f">
    <div class="col-lg-12 col-sm-12">
    </div>
    <div class="ow" ng-controller="Authorisation as at">
        <div class="row_1"></div>
        <div class="row">
            <div class="col-lg-4 col-sm-4" style="width:250px;">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog margin-icon" aria-hidden="true"></span>Действия <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" ng-click="at.add()"><span class="glyphicon glyphicon-plus margin-icon" aria-hidden="true"></span>Добавить</a></li>
                                        <li><a href=""><span class="glyphicon glyphicon-filter margin-icon" aria-hidden="true"></span>Фильтр</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <button type="text" class="btn btn-success" ng-click='at.save()' ng-if='at.isViewEditing'>Сохранить</button>
                <button type="default" class="btn btn-success" ng-click='at.cancel()' ng-if='at.isViewEditing'>Отмена</button>
            </div>
            <div >
                <div class="col-lg-4 col-sm-4 text-center margin_leftawidth">
                    <table class="table table-bordered th-center">
                        <thead>
                            <tr class="active" style="height:70px;">
                                <th>
                                    <br>Изображение</th>
                                <th>
                                    <br>Название</th>
                                <th>
                                    <br>Описание</th>
                                <th>
                                    <br>Выбор</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in at.foodlist" ng-dblclick="at.edit(row)">
                                <td>
                                    <a href="#/library/{{row.id}}" data-toggle="tooltip" title="Нажмите, чтобы узнать с чем данный продукт сочетается"><img style="width:70px; height:70px;" ng-src="{{row.image}}" alt=""></a>
                                </td>
                                <td><span ng-bind="row.name"></span></td>
                                <td><span ng-bind="row.description"></span></td>
                                <td>
                                    <input type="checkbox"><span></span></td>
                            </tr>
                            <tr ng-if="at.isViewEditing">
                            <td>
                                 <input type="file" id="exampleInputFile" ng-model="at.editedfoodlist.image">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="at.editedfoodlist.name">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="at.editedfoodlist.description">
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="f.editedfoodlist.ck"><span class="glyphicon glyphicon-minus margin-icon" aria-hidden="true"></span>
                                </td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 col-sm-4" style="position:block;">
                </div>
            </div>
        </div>
    </div>
</div>
