.checkboxM {
    padding: 20px;
}

body {
    background-color: #fff;
}

li {
    color: red;
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 10;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 10;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.N {
    margin-left: 10px;
}

.divform {
    background-color: #fff;
}

.row_1 {
    height: 20px;
}

.ow {
    height: 700px;
    /*  border-color: red;
border-width: 2px;  */
    background-color: #fff;
}

.bor {
    border: solid 2px red;
}

.margin-icon {
    margin: 10px;
}

.th-center th {
    text-align: center;
}

.marg_top {
    margin-top: 15px;
}

.marg_leftawidth {
    margin-left: 40px;
    width: 400px;
}

.margin_leftawidth_small {
    margin-left: 40px;
    width: 300px;
}

.tr_ht {
    height: 70px;
    text-align: center;
}

.td_one {
    text-align: left;
    column-span: 2;
}
.td_two{
    text-align: center;
}

.width_div_col {
    width: 100px;
}

.width_div_col_l {
    width: 250px;
}

.margin_l_tw {
    margin-left: 20px;

}
.margin_l_bt{
    margin-left: 110px;
}
.margin_l_center {
    margin-left: 650px;
    
}
.margin_name_center {
    margin-left: 400px;
    
}
.low{
    color: green;
    font-weight: bold;

}
.normal{
    color:black;
}
.nav_text_color{
    color:black;
    padding:10px; 
    
}
.modal_content{
    padding:15px;
}
.heading_h{
    color:grey; margin-left:50px; 
}
.panel_body_pad{
padding: 0px;
}
.td_pad_lef{
    
}
.btn_size_new {
    width:80px; height:30px;
}